




@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

/* dark02 */
.text-gray{
    color:#424242;
}

.text-primary{
    color: #FF900E;
}
/* dark03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255,144,14,0.1);
}

.btn-primary{
    background-color: #FF900E;
    color:#FFFFFF;
    padding: 20px 25px;
    font-size:1.25rem;
    font-weight:600;
    border-radius:8px;
    border:none;
}

main{
    max-width: 1440px;
    margin:0 auto;
}

main,section{
    margin-top:130px;
}

/* header styles */



/* navbar related styles */
.navbar{ 
 justify-content: space-between;
 align-items: center;   
}
.brand{
    font-weight:700;
    font-size:3rem;
}
.nav-item{
    list-style: none;
    margin-right:30px;

}

.nav-link{
    text-decoration: none;
    font-weight:500;
    font-size:18px;

} 

.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */
.banner-content{
    max-width:850px;
    margin: 0 auto ;
    text-align: center;
    margin-bottom:50px;

}


.banner-title{
    font-weight:700;
    font-size:4rem;
    color: #131313;
}

.banner-description{
font-size: 1rem;
color: #727272;


}

.banner-image{
    width:100%;
}

/* team and featurerelatedstyles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-features{
    margin-left:130px;
    max-width:530px;
}

.feature-title{
    font-size:2.8rem;
    font-weight:700;
}

#quick-list{
    font-weight: 500;
}

#all-text{
    max-width:1440px;
    height:1059px;
    display: flex;

}

.text-docoment h1{
    font-size:1.8rem;
    font-weight:700px;
    color: #131313;
    margin-bottom:24px;

}

.text-docoment p{
    font-size:1rem;
    color: #727272;
    margin-bottom:10px ;
}

.text-docoment{
    margin-right:170, 54,170, 240;
}


.text-picture img{
    width:800;
    height:1059;
    
}

.text-picture button{
    width:250px;
    height:100px;
    font-size:25px;
    font-weight:700;
    padding:45,42,45,42;
    margin: -30px;
    background-color: #FF900E;
    border:none;
    border-radius:5px;
}

#main h3{
 width:258px;
 height:53px;
 font-size:1.8rem;
 color: #131313;
 padding: 190, 284, 24,0;
}

#icon-heder{
    max-width:1440px ;
}

#main p{
    font-size:16px;
    color: #727272;
    margin-bottom:100px ;
}

.icon-picture{
    margin:0 auto ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(4,1fr);
}

/* responsive media quary */
@media screen and(max-width:576px){
    .navbar,
     .nav-links,
     .teams{
        flex-direction: coumn;
    }
.team-img-container{
    grid-template-columns: repeat(1,1fr);
}
.our-features{
    margin-left:20px ;
}

}